
//@theme "/usr/share/rofi/themes/tokyonight.rasi"

//@theme "/usr/share/rofi/themes/tokyonight.rasi"

//@theme "/usr/share/rofi/themes/tokyonight_big2.rasi"

//@theme "/usr/share/rofi/themes/tokyonight_big1.rasi"

@theme "/usr/share/rofi/themes/tokyonight.rasi"

configuration {
    show-icons: true;
    drun-display-format: "{icon} {name}";
    font: "Electrolize-Regular 12";
}


element-icon {
    size: 32px;
}
